@import '../../../../scss/index.scss';

.my-info{

    img{
        width: 200px;
        margin-bottom: 20px;
    }

    h4{
        margin-bottom: 20px;
        color: $primary-color-dark;
        text-align: justify;
    }

    .social-media{
       justify-content: flex-start;
    }
}