@import '../../../../scss/index.scss';

.navegacion-footer{

    margin-left: 30px;

h3{
    color:$font-light;
    font-weight: bold;
    margin-left: 60px;
}

ul{
    padding: 0;

    li{
        list-style: none;
        padding: 5px 0;

        a{
            color: $primary-color-dark;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

}